# Dependency directories
node_modules/
package-lock.json
client/node_modules/
client/package-lock.json
client/build/
server/cert/outlook

# Environment variables
.env
.env.outlook
.vscode/
eslint*